---
import Boilerplate from "../layouts/boilerplate.astro";
import PageSection from "../layouts/pageSection.astro";
import Drawer from "../components/Drawer.astro";
import projects from "../datas/Projects.json";
import Project from "../components/Project.astro";

const coverTitle = 'bg-gradient-to-br from-[rgba(254,253,205,1)] py-6 flex justify-center items-center flex-col to-[rgba(163,230,255,1)] mt-[80px] w-full'
const showcaseStyle = 'py-10 grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-8'
---

<Boilerplate content={{title: "Showcase"}}>
    <Drawer />
    <PageSection additionalStyle={coverTitle}>
        <div class="w-[80px] h-[80px] rounded-full overflow-hidden mb-4">
            <img class="w-full h-full object-cover" src="/gdscuii-logo.png" alt="logo gdsc uii">
        </div>
        <h1 class="font-semibold text-2xl mb-2">Showcase</h1>
        <p>All projects made with love by GDSC UII members</p>
    </PageSection>
    <PageSection additionalStyle={showcaseStyle}>
        {
            projects.map(project => <Project title={project.title} creator={project.creator} cover={project.cover} />)
        }
    </PageSection>
</Boilerplate>